<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
 	<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
 	<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
 	<script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
 	<script src="/assets/pageBundle1.js"></script>
 	<script>
 		window.onload = init;
 		//variables for the arrays of each name and also the iterators of each array
 		var bodyArr,lArmArr,rArmArr,lLegArr,rLegArr;
 		var bodI,laI,raI,llI,rlI;
 		var c,ctx;
 		var image;

 		function click(){
 			bodI += 1;
 			image.src = '/assets/' + bodyArr[bodI];
 			image.onload = () => {
 			//need to rerender canvas also a render all function might be good 
 			ctx.drawImage(image,50,50);
 			}
 			document.getElementById("testText").innerHTML = "HelloWorld";
 		}

 		function init(){
 			bodyArr = ["monster1.png","monster2.png"];
 			lArmArr = ["monsterLA1.png"];
 			rArmArr = ["monsterRA1.png"];
 			lLegArr = ["monsterLL1.png"];
 			rLegArr = ["monsterRL1.png"];
 			c = document.getElementById("myCanvas");
 			ctx = c.getContext("2d");
 			


 			//Image Left Arm
 			var imageLA = new Image();
 			laI = 0;
 			imageLA.src = '/assets/' + lArmArr[laI];
			imageLA.onload = () => {
				ctx.drawImage(imageLA, 0, 50);
 			}

 			//Image Right Arm
 			var imageRA = new Image();
 			raI = 0;
 			imageRA.src = '/assets/' + rArmArr[raI];
			imageRA.onload = () => {
				ctx.drawImage(imageRA, 100, 50);
 			}

 			//Image Left Leg
 			var imageLL = new Image();
 			llI = 0;
 			imageLL.src = '/assets/' + lLegArr[llI];
			imageLL.onload = () => {
				ctx.drawImage(imageLL, 40, 100);
 			}

  			//Image Right Leg
 			var imageRL = new Image();
 			rlI = 0;
 			imageRL.src = '/assets/' + rLegArr[rlI];
			imageRL.onload = () => {
				ctx.drawImage(imageRL, 60, 100);
 			}

 			 //Image Body
 			image = new Image();
 			bodI = 0;
 			image.src = '/assets/' + bodyArr[bodI];
			image.onload = () => {
				ctx.drawImage(image, 50, 50);
 			}

 			document.getElementById("test").onclick = function() {click()};
 		}

 	</script>
 </head> 
<body>

	<!-- html body -->
	<div id="app">

	</div>
	<canvas id="myCanvas" width="200" height="200">

	</canvas>

	<button id="test"> Change Body </button>

	<p id="testText"> test text </p>
	<!--<img id="head" src="/assets/monster1.png" alt="monster body">-->
</body>
</html>

